fastapi
uvicorn[standard]
sqlalchemy
alembic
pymysql
aiomysql
asyncmy
psycopg2-binary
asyncpg
pydantic[email]
pydantic-settings
passlib[argon2]
python-jose[cryptography]
python-multipart
aiofiles
reportlab
openpyxl
python-dotenv
slowapi
email-validator
Pillow
